* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    background-color: #2E3862;
    padding: 0 5vw 0 5vw;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    text-align: center;
    color: #2E3862;
    font-family: "Merriweather", serif;
    font-weight: 900;
}

h2 {
    color: #32457A;
    font-family: "Merriweather", serif;
    font-weight: 900;
}

p {
    color: #0a0a3d;
    font-family: "Poppins", sans-serif;
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
}

.top_bar div a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.fond_accueil {
    height: 93vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_fond {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}

.texte_accueil {
    /* margin: 10% 20% 10% 20%; */
    padding: 10vh 5vw 10vh 5vw;
    height: 50%;
    width: 60%;
    border-radius: 20px;
    background-color: rgba(225, 228, 237, .7);
    align-self: center;
}

.texte_accueil>h1 {
    font-size: 3rem;
}

.texte_accueil>p {
    margin-top: 5vh;
}

/* --------- PAGE EQUIPE ---------------- */

.main_equipe {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    width: 80%;
    height: auto;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.cv_presentation {
    height: auto;
}

.cv_presentation h1 {
    margin: 3rem 0;
}


.cv_presentation p {
    margin-bottom: 3rem;
    /* background-color: aqua; */
}

.main_equipe section {
    display: flex;
    flex-direction: column;
    width: auto;
}

.main_equipe section h2 {
    padding: 0 0 2rem 0;
}

.droite h2 {
    align-self: flex-end;
}

.main_equipe section:nth-child(2) img,
.main_equipe section:nth-child(4) img {
    margin-right: 2rem;
}

.main_equipe section:nth-child(2),
.main_equipe section:nth-child(3),
.main_equipe section:nth-child(4) {
    background-color: #c3d1f7;
    padding: 3rem;
    height: auto;
    width: fit-content;
    border-radius: 1.5rem;
}

.main_equipe section:nth-child(2),
.main_equipe section:nth-child(4) {
    margin-left: 4rem;
}

.main_equipe section:nth-child(3) {
    margin-bottom: 3rem;
    margin-right: 4rem;
}

.droite {
    margin: 3rem 0 3rem 0;
    align-self: flex-end;
}

.droite img {
    margin-left: 2rem;
}

.main_equipe .droite>div {
    flex-direction: row-reverse;
}

.main_equipe>section>div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.photo_equipe {
    border: 2px solid #0a0a3d;
    border-radius: 20px;
    height: 20vh;
    width: 10vw;
    object-fit: cover;
}

.description_perso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50rem;
    height: 20vh;
    overflow: hidden;
}

.description_perso h4 {
    font-size: 1.2rem;
    color: #32457A;
    font-family: "Merriweather", serif;
    font-weight: 700;
}

/* ---------------CONTACT------------------ */

/* ---------------PAGE CV / SIDEBAR-------producted by AL------ */
/* paramètres généraux à modifier : */
main[class="pages_cv"] {
    position: absolute;
    top: 7vh;
    width: 100%;
}

.sidebarre {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 123, 184);
    gap: 20px;
    border: 2px solid #0a0a3d;

}

.sidebarre>div {
    width: 80%;
    padding-top: 7px;
    padding-bottom: 7px;
}

nav[class="sidebarre"]>img {
    width: 50%;
    margin-top: 2rem;
    border: 2px solid #0a0a3d;
    border-radius: 150px;
}

/* ----------Sidebarre / Bouton contact--------- */
.lien_page_contact {
    font-weight: 800;
    border: 2px solid #0a0a3d;
    padding: 5px 30px 5px 30px;
    color: white;
    background-color: #2E3862;
    text-align: center;
}

.lien_page_contact>a {
    text-decoration: none;
}

.lien_page_contact:hover {
    box-shadow: 2px 2px 2px 2px #E1E4ED;
    font-size: larger;
    padding-bottom: 3px;
}

.lien_page_contact>a:visited {
    color: white;
}

/* --------Fin Sidebarre / Bouton contact------- */

/* -------Sidebarre / Bloc reseaux ------------- */

.sidebarre_reseaux {
    display: flex;
    flex-direction: column;
    border-top: #0a0a3d 2px solid;
    border-bottom: #0a0a3d 2px solid;
}

.sidebarre_reseaux>table {
    border-collapse: collapse;
    margin: 10px 30px 10px 30px;
}

td,
th {
    border: 1px solid black;
    padding: 7px;
}

td>a>img {
    width: 30px;
    padding: auto;
    margin-left: 40%;
}

/* -------Fin Sidebarre / Bloc reseaux ---------- */

/* ---------Sidebarre / bloc hobby---------------- */
.sidebarre_hobby {
    font-weight: 800;
    border: 2px solid #0a0a3d;
    padding: 5px 30px 5px 30px;
    color: white;
    background-color: #2E3862;
    text-align: center;
    margin-bottom: 30px;
}

.sidebarre_hobby>a {
    text-decoration: none;
}

.sidebarre_hobby:hover {
    box-shadow: 2px 2px 2px 2px #E1E4ED;
    font-size: larger;
    padding-bottom: 3px;
}

.sidebarre_hobby>a:visited {
    color: white;
}

/* ---------Fin Sidebarre / bloc hobby--------------- */

/* ------------------------------------------- */
.main_contact {
    display: flex;
}


.form_container {
    margin-left: 30%;
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    padding-bottom: 3rem;
}

.form_container h1 {
    text-align: center;
    margin: 2rem 0 2rem 0;
}

.contact_form {
    width: 50%;
    padding: 2rem;
    height: auto;
    align-self: center;
    background-color: #c3d1f7;
    border-radius: 2rem;
}

.contact_form fieldset:nth-child(1) {
    margin-bottom: 1.5rem;
}

.contact_form fieldset:nth-child(1),
.contact_form fieldset:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    padding-left: 1rem;
}

fieldset {
    width: 100%;
    padding: 1rem 0 1rem 0;
    border-radius: 1rem;
}

.contact_form p,
fieldset div {
    width: 80%;
}

input[type="text"],
input[type="email"],
select,
textarea {
    border: none;
    width: 100%;
    border-radius: 1rem;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 1rem;
    height: 2rem;
    padding-left: .5rem;
}

.champobligatoire {
    margin-left: .3rem;
    color: red;
}

.champ_obligatoire {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 1rem;
    color: red;
}

.radio_container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.radio_container p {
    width: 100%;
    text-align: center;
}

.radio_container div input {
    margin-right: .5rem;
}


select {
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

textarea {
    padding: .5rem 0 0 .5rem;
}
/* 
.btn_container {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0 1rem 0;
    /* padding: 0 10% 0 10%; 

} */
/* 
.btn {
    height: 2rem;
    width: 49%;
    border-radius: 1rem;
    border: none;
} */

/* -------------------------------------- */
/* ----------CV ----------- */
.maincv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 0 0 300px; */
    /* padding: 200px; */
    margin-top: 2rem;
    margin-left: 30%;
}

.profil,
main>div {
    margin: 10px;
    padding: 20px;
    background-color: #c3d1f7;
    border-radius: 10px;
}


.profil>h2 {
    margin-bottom: 20px;
}

/* ------------Page hobby / contenu ------------- */

.page_hobby {
    width: 70%;
    position: relative;
    left: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page_hobby>div {
    background-color: #c3d1f7;
    border-radius: 30px;
    margin: 10px 50px 10px 50px;
    padding: 30px;
    display: flex;

}

.hobby_droite {
    align-items: flex-start;
    flex-direction: row;
}

.hobby_droite>img {
    position: relative;
    justify-content: flex-end;
}

.hobby_gauche {
    align-items: flex-start;
    flex-direction: row-reverse;
}

/* ---------- Page hobby / box video ---------- */

.hobby_video {
    height: auto;
    flex-direction: column;
    text-align: center;
}

.hobby_video>.video2 {
    aspect-ratio: 16/9;

}

/* -------- Page hobby / images du contenu---------- */
.page_hobby>div>img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 20px;
    border: 2px solid #0a0a3d;
    border-radius: 10px;
}

/*  -------- Fin page hobby / images du contenu ---- */
/* -------------END partie AL ---------------------- */