<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Framework CSS : Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href="./newstyle.css"> -->
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>Notre équipe</title>
</head>

<body>
    <header>
        <nav class="top_bar">
            <div>
                <a href="./accueil.html">Logo+ Nom Equipe</a>
            </div>
            <div>
                <a href="./accueil.html">Accueil</a>
                <a href="./page_equipe.html">Équipe</a>
            </div>
        </nav>
    </header>

    <main class="main_equipe">

        <section class="cv_presentation">
            <h1>Notre équipe</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe, temporibus aspernatur sit corporis
                ducimus porro consectetur ex, facere laudantium quaerat possimus voluptatem quidem consequatur error
                quasi? Praesentium, odio eius!
                Minus, ex? Sunt, libero ea. Quasi fuga dolorem incidunt quidem labore ipsum repellendus delectus,
                officia ad iste quod vitae tempore sed consequatur aut! Pariatur, cupiditate ducimus? Necessitatibus
                quidem ullam perspiciatis.
                Eius nihil delectus in ut debitis rerum alias iste aut vel suscipit consequatur, quas accusantium
                laudantium autem eligendi ipsa quos aliquam voluptatem beatae! Perspiciatis qui reiciendis, illo dolorum
                dolore quos.
            </p>
        </section>

        <section>
            <h2>Jérôme P. </h2>
            <div>
                <a href="cv_jerome/cv.html"><img class="photo_equipe" src="images/images_cv_jerome/profil.jpg"
                        alt="Lien vers le CV de Jérôme Pacaud." /></a>
                <div class="description_perso">
                    <h4> Développeur informatique Full Stack en formation. </h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cumque obcaecati, deserunt
                        rerum
                        minima voluptate, provident officiis sapiente iste in, unde porro consequuntur mollitia earum
                        soluta
                        quibusdam voluptatum laudantium temporibus?
                        Saepe exercitationem aut accusamus, laudantium necessitatibus alias modi hic nihil quam odit
                        quasi
                        ut unde sunt, ducimus eaque mollitia, perferendis nostrum asperiores magnam delectus aliquam
                        maiores. Accusamus sequi neque esse.
                    </p>
                </div>

            </div>
        </section>

        <section class="droite">
            <h2>Anne-Laure P. </h2>
            <div>
                <a href="cv_anne-laure/cv.html"><img class="photo_equipe"
                        src="images/images_cv_anne-laure/photo_al.jpeg" alt="Lien vers le CV d'Anne-Laure Plano." /></a>
                <div class="description_perso">
                    <h4> Développeur informatique Full Stack en formation. </h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cumque obcaecati, deserunt
                        rerum
                        minima voluptate, provident officiis sapiente iste in, unde porro consequuntur mollitia earum
                        soluta
                        quibusdam voluptatum laudantium temporibus?
                        Saepe exercitationem aut accusamus, laudantium necessitatibus alias modi hic nihil quam odit
                        quasi
                        ut unde sunt, ducimus eaque mollitia, perferendis nostrum asperiores magnam delectus aliquam
                        maiores. Accusamus sequi neque esse.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2>Elyes K. </h2>
            <div>
                <a href="cv_justin/cv.html"><img class="photo_equipe" src="images/images_cv_justin/photo_profil.png"
                        alt="Lien vers le CD de Justin Moulinier." /></a>
                <div class="description_perso">
                    <h4> Développeur informatique Full Stack en formation. </h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cumque obcaecati, deserunt
                        rerum
                        minima voluptate, provident officiis sapiente iste in, unde porro consequuntur mollitia earum
                        soluta
                        quibusdam voluptatum laudantium temporibus?
                        Saepe exercitationem aut accusamus, laudantium necessitatibus alias modi hic nihil quam odit
                        quasi
                        ut unde sunt, ducimus eaque mollitia, perferendis nostrum asperiores magnam delectus aliquam
                        maiores. Accusamus sequi neque esse.
                    </p>
                </div>
            </div>
        </section>

    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>